<nav>
    <ul class="nav">
        <li class="li"><a href="{{ url_for("view_about") }}" title="About">About</a></li>
        <li class="li"><a href="{{ url_for("view_articles") }}" title="Articles">Articles</a></li>
        <li class="li"><a href="{{ url_for("view_admin") }}" title="Admin">Admin</a></li>
    </ul>
</nav>