{% extends "_main.jinja" %}

{% block title %}
    Welcome to Markdown blog
{% endblock %}

{% block main %}
    Hi, I'm Pepper. My name is too complicated, so call me Pepper.
    I'm from one small town near the big cite Fafrnkovo.
{% endblock %}