{% extends "_main.jinja" %}

{% block title %}
    Welcome to MarkDown blog
{% endblock %}

{% block main %}
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores dignissimos necessitatibus fuga totam ducimus, rem, dolores beatae tempora, facere quisquam unde maxime deserunt consectetur aut nam similique adipisci saepe exercitationem.
{% endblock %}