<!DOCTYPE html>
<html lang=en>

    <head>
        <title> Welcome to Markdown blog </title>
        <link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/main.css")}}>
    </head>

    <body>
        <header>
            <h1> Pepper </h1>
        </header>

        <nav>
            <ul>
                <li><a href="#" title="About">About</a></li>
                <li><a href="#" title="Article">Article</a></li>
                <li><a href="#" title="Admin">Admin</a></li>
            </ul>
        </nav>

        <main>
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi perspiciatis obcaecati voluptatem. Nulla ea nesciunt voluptatibus dicta dolores dolor aspernatur assumenda, voluptatem eligendi laborum totam veniam expedita a, nostrum pariatur.
            </blockquote>
        </main>

        <footer>
            (c) 2020 Pepper
        </footer>

    </body>
</html>